---
import "../styles/progress-bar.scss";

interface Props {
  id: string;
  value: number;
  label: string;
}

const { id, value, label } = Astro.props;
---

<div class="progress-container">
  <label for={`progress-${id}`}>{label}</label>
  <progress id={`progress-${id}`} class="progress-bar" value={value} max="100"
  ></progress>
  <!-- <span class="percentage">{value}%</span> -->
</div>
